* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fafafa;
  color: $black;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  //   Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; 
  font-size: 14px;
}

main {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 70vh;
}

#opacity {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  width: 100%;
  height: 100vh;
}

button,
input:not([type="file"]),
textarea,
.fileUpload {
  padding: 7px 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: $black;
  font-weight: 600;
  background-color: white;
  max-width: 320px;
  resize: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  &::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
}
button {
  border: none;
  background-color: #3498db;
  color: white;
}

button,
input[type="submit"] {
  cursor: pointer;
}

#objectTable,
#misTable {
  display: none;
}

#container {
  visibility: visible;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: space-around;
  display: flex;
  width: 100%;
}

.content__column:first-child{
  width: 30%;
}
.content__column:nth-child(2){
  width: 35%;
}
.content__column:last-child{
  width: 35%;
}

.content__column {
  position: relative;
  #network-popup {
    top: -10%;
    left: 50%;
    height: 500px;
  }
  #addUser-popup {
    top: -20%;
    left: 50%;
    height: 630px;
  }
  #updateUser-popup {
    top: -20%;
    left: -50%;
    height: 630px;
  }
  #network-popup,
  #addUser-popup,
  #updateUser-popup {
    visibility: hidden;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    #closeBtn,
    #usp-closeBtn,
    #udu-closeBtn {
      font-size: 22px;
      font-weight: 400;
      color: #ccc;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 1%;
      right: 3%;
      background-color: inherit;
      box-shadow: none;
    }

    #closeBtn:focus,
    #usp-closeBtn:focus,
    #udu-closeBtn:focus {
      outline: none;
    }
    span {
      display: block;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      padding-bottom: 40px;
    }
    input:disabled {
      background-color: #e8f6ff;
    }
    #popup input,
    #addUserForm input,
    #updateUserForm input {
      outline: none;
      box-shadow: none;
      display: block;
      width: 360px;
      height: 44px;
      padding: 0 12px;
      border-radius: 7px;
      margin-bottom: 12px;
      font-size: 16px;
      border: 1px solid #d3dce6;
      transition: border-color 200ms ease-in-out;
    }
    #popup input:focus,
    #addUserForm input:focus,
    #updateUserForm input:focus,
    #popup input:hover,
    #addUserForm input:hover,
    #updateUserForm input:hover,
    #popup input:active,
    #addUserForm input:active,
    #updateUserForm input:active {
      outline: none;
      box-shadow: none;
      border-color: $border-color;
    }

    #popup input:focus,
    #addUserForm input:focus,
    #updateUserForm input:focus {
      border: 1px solid #3975ec;
    }
    #createNetworkBtn,
    #submitUserBtn {
      cursor: pointer;
      margin-top: 5px;
      background-color: #3975ec;
      color: #fff;
      border-radius: 5px;
      border: none;
      padding: 5px;
      width: 360px;
      height: 45px;
      margin-top: 20px;
    }
  }
  .table-header {
    display: flex;
    align-items: flex-start;

    h2 {
      width: 60%;
      margin: 0;
    }
    button {
      width: 40%;
      font-size: 10px;
      background-color: #4486e9;
    }
    button:hover {
      background-color: #347ae4;
    }
  }
  margin: 10px;
  background-color: #fff;
  padding: 20px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  select {
    margin-top: 10px;
    width: 100%;
    padding: .5em .10em;
    font-family: inherit;
    border: 1px solid #999;
    border-radius: 5px;
  }
  h2 {
    font-size: 16px;
    font-weight: 700;
    color: #444;
    margin-bottom: 10px;
  }
  #lookupTable,
  #policyTable {
    dl {
      width: 100%;
      display: flex;
      padding: 7px;
      border-bottom: 1px solid #ddd;
    }
    dt {
      font-weight: 700;
    }
    dt,
    dd {
      display: flex;
      align-items: center;
      width: 50%;
    }
    dd{
      margin-left: 70px;
    }
  }
}

.lookup-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#addUserBtn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 7px 10px;
  display: none;
  font-size: 11px;
  margin-top: 20px;
  border: none;
  background-color: #e7e7e7;
  box-shadow: none;
  width: 40%;
  font-size: 10px;
  background-color: #4486e9;
}

#addUserBtn:hover {
  background-color: #3479e4;
}

#objectTable,
#misTable {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}
#objectTable th,
#misTable th {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  color: #333;
  background: #f8f8f8;
  text-align: center;
}

#objectTable th:not(:first-child),
#misTable th:not(:first-child) {
  width: 100%;
}

#objectTable th,
#misTable th,
#objectTable td,
#misTable td {
  padding: 10px;
  border: 1px solid #ddd;
}
#objectTable th:first-child,
#misTable th:first-child,
#objectTable td:first-child,
#misTable td:first-child {
  border-left: 0;
}

#objectTable th:nth-child(2){
  width: 40%;
}

#misTable th:nth-child(2){
  width: 35%;
}
#misTable th:nth-child(3){
  width: 10%;
}

#objectTable th:last-child,
#misTable th:last-child,
#objectTable td:last-child,
#misTable td:last-child {
  border-right: 0;
}
#objectTable tr td:first-child,
#misTable tr td:first-child {
  text-align: center;
}

#objectTable,
#misTable tbody tr {
  cursor: pointer;
}

#objectTable:not(:first-child) tr:hover,
#misTable:not(:first-child) tr:hover {
  background-color: #e6f0f8;
}

#objectTable caption,
#misTable caption {
  caption-side: bottom;
  display: none;
}

#updateUserBtn,
#deleteUserBtn {
  display: none;
  width: 100%;
  font-size: 10px;
  background-color: #4486e9;
  margin-bottom: 10px;
  margin-left: 7px;
}

#deleteNetworkBtn {
  display: none;
  text-align: right;
  margin-bottom: 5px;
}

#deleteNetworkBtn button {
  margin-top: 10px;
  width: 40%;
  font-size: 10px;
  background-color: #4486e9;
}

#updateUserBtn:hover,
#deleteUserBtn:hover,
#deleteNetworkBtn button:hover {
  background-color: #347ae4;
}

.button-container {
  width: 50%;
  display: flex;
}
